<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <add key="IronBarCode.LicenseKey" value="IRONBARCODE.DEVTEAM.16386-994D92DF53-FQIITP-ZYK3V4WOIZDF-XEZ7H5WCZ4LM-IIJVRRKU3FUP-Z2R4NUND3WIP-XPEU22LFMDMW-ICP2WO-THYKEK2SOLR5UA-DEPLOYMENT.TRIAL-TRQHBO.TRIAL.EXPIRES.13.MAR.2021"/>
    </appSettings>
</configuration>
